<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
        <header>
        <h1>&copy; 2025 Book Library</h1>
    </header>
    <div class="container mt-5">
            {% if user.is_authenticated %}
        <h2 style="text-align: center;">Hello, {{ user.username }}!</h2>
        <pre><a href="http://127.0.0.1:8000/create/" class="btn btn-danger">Write a book</a>   <a href="http://127.0.0.1:8000/logout/" class="btn btn-danger">Logout</a>   <a href="http://127.0.0.1:8000/signup/" class="btn btn-danger">Signup</a></pre>
    {% else %}
        <h2 style="text-align: center;">Hello anonim, in order to write your books, you need to create an account or register</h2>
        <pre><a href="http://127.0.0.1:8000/login/" class="btn btn-danger">Login</a>   <a href="http://127.0.0.1:8000/signup/" class="btn btn-danger">Signup</a></pre>
    {% endif %}

    <form method="get" action="">
        <input
            type="text"
            name="q"
            placeholder="Enter the title or author of the book"
            value="{{ query|default:'' }}"
        >
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for book in page_obj %}
            <li>
                <strong><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></strong> — {{ book.user }} — {{ book.id }} {% if book.user == user %}— your book{% endif %}
            </li>
        {% empty %}
            <li>Books not found</li>
        {% endfor %}
    </ul>

                <!-- Пагинация -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>

        </div>
    </div>
    <br>
</body>
</html>