<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.title }}</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <h1>{{ book.title }}</h1>
    </header>

    <div class="container">
            <p>Id: {{ book.id }}</p>
            <p>Description: {{ book.description }}</p>
            <p>Author: {{ book.user.username }}</p>

        {% if book.user == user %}
            <hr>
            <pre><a href="{% url 'book_update' book.id %}">Edit</a>   <a href="{% url 'book_delete' book.id %}">Delete</a></pre>
        {% endif %}

            <a href="{% url 'book_list' %}">Back to list</a>
    </div>

    <footer>
        <p>&copy; 2025 Book Library</p>
    </footer>

</body>
</html>
